@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sacramento&display=swap');
main{
    margin: 30px;
    margin-right: 30px;
}
body{
    background-image: url(imagenes/textura3.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
                                            /*titulos*/
.title{
    font-size: 5rem;
    color: #dbe;
    text-shadow: 3px 0 #0ae140;
}
.title-part{
    text-shadow: 3px 0 #daf831;
}
                                            /*ritmos*/
.h1-ritmos{
font-size: 5rem;
font-family: 'Sacramento', Helvetica, sans-serif;
color: #ffffff;
text-shadow: 2px 2px #a2ae00;
text-decoration: overline underline double rgb(9, 127, 48);
}
.contenedor-ritmos{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #def6e9;
}
                                                    /*h2*/
.h2-form{
    color: rgb(252, 251, 249);
    font-size: 2rem;
}
.derechos-reservados{
color: rgb(174, 7, 7);
font-size: 2rem;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
opacity: 1;
}
.paraf-contacto{
    font-size: 2rem;
    color: #fcfcfc;
    margin: 6px;
}
.negra-contacto{
    font-size: 3rem;
    color: #edf11d;
}
.negra-critica{
    font-size: 3rem;
    color: #ff0c0c;
}
.img-contacto{
    display: flexbox;
}
.conteiner-contacto{
   background-color: #293b2dd3;
   width: 50%;
   height: auto;
   margin: auto;
   border-radius: 21px 60px 100px 11px;
}
.conteiner-contacto2{
    background-color: #293b2dd3;
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 21px 60px 100px 11px;
}
.animacion{
    list-style: none;
    display: flex;
    justify-content: center;
}
.animacion li{
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #858585;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 40px 50 rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    }
.animacion li:first-child{
    border-radius:  5px 0 0 5px;
}
.animacion li:last-child{
    border-radius: 0 5px 5px 0;
}
.animacion:hover li:nth-child(odd) {
    transform: skewY(15deg)
}
.animacion:hover li:nth-child(even) {
    transform: skewY(-15deg);
}
                                    /*drums set*/
.drum{
    outline: none;
    border: 10px solid #404869;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: #da0463;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
    }
                                    /*imagenes drum Set*/
.s{
    background-image: url("imagenes/hithat.png");
}
.n{
    background-image: url("imagenes/tacho.png");
}
.d{
    background-image: url("imagenes/plato.png");
}
.r{
    background-image: url("imagenes/tom1.png");
}
.u{
    background-image: url("imagenes/tom2.png");
}
.m{
    background-image: url("imagenes/bombo.png");
}
.ss{
    background-image: url("imagenes/chancha.png");
}
                                       /*navegador*/
.encabezado{ 
    display: flex;
    justify-content: center;
   align-items: stretch;
    margin: 0;
    gap:50px;
}
.navegador li{
    font-size: 30px;
    font-style: italic;
    font: arial;
}
.navegador{
    display: flex;
    list-style: none;
    gap: 40px;
}
.navegador li a{
    text-decoration: none;
    color: rgb(30, 26, 26);
    font-size: 18px;
    position: relative;
    transition: 0.8s all linear;
    padding: 5px 10px;

}
.navegador li a:hover{
    color: #292929;

}
.navegador li a::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #ff0;
    z-index: 4;
}
.navegador li a:hover::before{
    animation: ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
}
@keyframes ani {
    0%{
        width: 0%;
        height: 1px;
        left: 50%;
    }
    50%{
        width: 100%;
        height: 1px;
        left: 50%; 
    }
    100%{
        width: 100%;
        height: 100%;
        left: 0;
    }
}
.title-subctitos{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px #daf83162;
}
.formulario-subcritos{ 
    position: relative;
    width  : 80%;
    height : 50%;
    margin : 0 auto;
    padding: 2em;
    box-sizing: border-box;
    background : rgba(77, 44, 44, 0.529);
    border-radius: 50px 10px 50px 80px;
    box-shadow: 10px 10px 30px 10px#e2f367;
}
.box-listado{
    width: 90%;
    height: 70%;
    margin: 40px;
   
}
.box-listado h2{
    color: #fff;
    background: #03a9fa;
    padding: 10px 20px;
    font-size: 70px;
    font-weight: 700;
  border-radius: 20px 10px 60px 11px;
    font-family: 'Sacramento', 'Arial Narrow', Arial, sans-serif;
}
.box-listado ul{
    position: relative;
    background-color: rgba(32, 38, 49, 0.559);
    border-radius: 20px;
}

.box-listado ul li{
    list-style: none;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px rgba(0,0,0.1);
    transition: 0.5s;
}
.box-listado ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #79ff25;
    box-shadow: 0 5px rgba(0,0,0.2);
    color: rgb(16, 14, 14);
    
}
.box-listado ul li span{
    text-align: center;
    line-height: 20px;
    background: #d7a9ff;
    color: rgb(237, 5, 5);
    display:  inline-block;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: rotateY(-2px);
}
.box-listado ul li:hover span{
    background: rgb(255, 255, 255);
    color: #f47311;
}
                                    /*subcrtios formulario*/
.datos-personales{
    background-color: #2de85267; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
    text-shadow: 10px 10px 5px #2ccc0c;
}
.datodeform1{
font-size: 3rem;
color: #0b0b0b;
}
.datos-cuenta{
    background-color: #478da76c; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
    text-shadow: 10px 10px 5px #130e9f;
} 
.datodeform2{
    font-size: 3rem;
    color: #0b0b0b;
}
.datos-comentarios{
    background-color: #65105575; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
    text-shadow: 10px 10px 5px #ec019afd;
}
.datosdeform3{
    font-size: 3rem;
    color: #0b0b0b;
}
.datos-adiccionales{
    background-color: #8db19c6e; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
    text-shadow: 10px 10px 5px #b6b8b6;
}
.datosdeform4{
    font-size: 3rem;
    color: #0b0b0b; 
}
input{
    background-color: #cfd6ffce;
    padding: 3px;
    border-radius: 3px;
    color: #150c93;
    width: 400px;
    height: 20px; 
}
select{
    background-color: #cfd6ffce;
    padding: 3px;
    border-radius: 3px;
    color: #fa0101;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}
.form-coda{
    font-size: 2rem;
    color: #eee2e2;
    font-style: italic;
}
                                    /*Botones de formulario*/
.btn-s{
    background-color: #478da700; 
    color: #c0f405;
    font-size: 22px;
    border-radius: 20px;
    height: 300px
}
.btn-ok{
    width: 200px;
    height: 100px;
    border: 0;
    border-radius: 29px;
    font-size: 2rem;
    background: red;
    color: white;
    text-shadow: 5px 5px 10px #ffffff;
    box-shadow: 10px 10px 14px 5px #fc553b;
}
.btn-cancel{
    width: 200px;
    height: 100px;
    border: 0;
    border-radius: 29px;
    font-size: 2rem;
    background: rgb(71, 230, 22);
    color: white;
    text-shadow: 5px 5px 10px #ffffff;
    box-shadow: 10px 10px 14px 5px #bdefa2;
}
.btn-ritmos{
    padding: 16px;
    border: 0;
    border-radius: 26px;
    background: #0ae140;
    color: #150c93;
}
                                    /*imagenes partituras*/
.The-Scientist-1{
    width: 700px;
}
.the-pretender-1{
    width: 700px;
}
.the-pretender-2{
    width: 700px;
}
.the-pretender-3{
    width: 700px;
}
.basket-case-1{
   width: 700px;
}
.basket-case-2{
    width: 700px;
}
.i-still-love-you-1{
    width: 700px;
}
.i-still-love-you-2{
    width: 700px;
}
.contenedor-ritmos img{
width: 700px;
}
.h2-audio{
    font-size: 3rem;
    color: rgba(239, 142, 217, 0.766);
    text-shadow: 3px 0 #f8e0bfc7;
    font: sans-serif;
}
.orden-list{
    list-style: none;
    color: #404869;
}
.palos{
    width: 100%;

}
.set{
    margin: 10% auto;
}
.pressed{
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.6;
}
.red{
    color: red;
}
.palosvic{
    width: 98%;
}
                                        /*encabezado*/
header{
    background-color: white;
    clear: both; 
}
                                            /* home*/
.noti1{
font-size: 45px;
color: #0b0b0b;
text-shadow: 3px 0 #dbedf3;
}
.paraf1{
    font-size: 20px;
    color: #fff;
    float: left;
    
}
.eleni{
    width: 500px;
    display: flex;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}

.noti2{
    font-size: 45px;
    color: #0b0b0b;
    text-shadow: 3px 0 #dbedf3;
}
.paraf2{
    font-size: 20px;
    color: #fff;
    float: left;
}
.ralph{
    width: 500px;
    display: flex;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}
.noti3{
    font-size: 45px;
    color: #0b0b0b;
    text-shadow: 3px 0 #dbedf3;
}
.paraf3{
    font-size: 20px;
    color: #fff;
    float: left;
}
.dom{
    width: 500px;
    display: flex;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}
                                            /*contacto*/
.contacto{
    background-color: #05050567;
    padding: 20px;
    border-radius: 10px 30px 50px 80px;
}
.contacto .conteiner-contacto, .conteiner-contacto2 {
    text-align: left;
}
                                            /*tabla*/
table th{
    color: #1a173b;
}
table{
    color: #f20000;
}
table img{
    width: 100px;
    height: 100px;
    background-color: #0ae140; 
}
.h1-tabla{
    font-size: 5rem;
    font-family: 'Sacramento', Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px #a2ae00;
}
table ul{
   text-align: left;
}
                                        /*aside desplegable*/
.aside{
    width: 2.2rem;
    height: 2.7rem;
    background-color: red;
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 5%;
    font: 2rem;
    color: white;
    text-align: center;
    transition: left 0.7s;
    z-index: 200;
   

  }
.checkbox:checked ~ .aside{
    left: 40%;
    border-radius: 0 0.5rem 0.5rem 0;
    z-index: 100;
    position: fixed;
}
.left-panel{
    width: 40%;
    height: 100%;
   background:  -webkit-linear-gradient(#c75454, #e36d2e, #f2dd91);
   position: fixed;
   top: 0;
   left: -40%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: left 0.4s;
   border-radius: 30px 20px 70px 10px;
   z-index: 200;
}
.checkbox:checked ~ .left-panel{
  left: 0;
}
.checkbox{
    display: none;
   
}
.left-panel ul a{
  color: #572525;
  text-decoration: none;
  font-family: 'Sacramento', Courier, monospace;
  font-size: 5rem;
}
.left-panel li{
list-style: none;
text-align: center;
padding: 0 0.5rem;
margin: 1rem 0;
}
.left-panel li:hover{
    color: whitesmoke;
    border: solid whitesmoke;
    border-width: 0 0.1rem;
}
                                                /*Bostrap*/
.boostrap{
    width: 600px;
}
.h2-boostrap{
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #21281e;
    text-shadow: 3px 10px 10px #bfb3bd;
    text-align: center;
}
article, h5, p{
    color: #0b0b0b;
}
.like{
    color: white;
}
                                                /*videos*/
.containervideo{
    padding: 100px;
   align-content: center;
    width: 660px;
    height: auto;
   margin-top: 30%;
    position: absolute;
    top: 100%;
    right: 10px;
    gap: 6rem;
}
video{
    width: auto;
    height: auto;
    position: static;
}
.titulo-videos{
    font-size: 5rem;
    color: #4beb0b;
    text-shadow: 3px 10px 10px #b94fa5, 3px 10px 10px #b94fa5, 3px 10px 10px #b94fa5;
}
                                                /*Footer*/
.contenedor-footer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #292929;
    position: relative;
    display: inline-block;
    position: relative;
    opacity: 0.9;
}
.box__footer{
    max-width: 50%;
    margin-top: 4rem;
    font-size: 1.5rem;
    text-align: left;
    display: inline-block;
    color: #0ae140;
}
.terminos{
    max-width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    align-content: right;
    display: inline-block;
    text-shadow: 10px 20px 10x 10px#a4b7c0;
    margin: 50px;
    padding: 10px;
    color: #0ae140;
}
.terminos h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px 20px 10x 10px#a4b7c0;
    color: #0ae140;
}
.contenedor-footer a {
    text-decoration: none;
    color: rgb(249, 126, 2);
    font-size: 1rem;
}
.contenedor-footer span{
    color: rgb(249, 126, 2);
}

/*.contenedor-ritmos{
    left: 5%;
    width: 400px;
    height: 200px;
    background: -o-linear-gradient(to right
                                   #40e0d0
                                   #ff8c00  
                                   #ff0080);
 
 position: absolute;  
 border-radius: 10px;      

}/*

