@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sacramento&display=swap');
main{
    margin: 30px;
    margin-right: 30px;
}
body{
    background-image: url(imagenes/textura3.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.title{
    font-size: 5rem;
    color: #dbe;
    text-shadow: 3px 0 #0ae140;
}
.title-part{
    text-shadow: 3px 0 #daf831;
}
.h1-ritmos{
font-size: 5rem;
font-family: 'Sacramento', Helvetica, sans-serif;
color: #ffffff;
text-shadow: 2px 2px #a2ae00;
text-decoration: overline underline double rgb(9, 127, 48);
}
.contenedor-ritmos{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #def6e9;
}
.h2-form{
    color: rgb(252, 251, 249);
    font-size: 2rem;
}
.paraf-contacto{
    font-size: 2rem;
    color: #fcfcfc;
    margin: 6px;
}
.negra-contacto{
    font-size: 3rem;
    color: #edf11d;
}
.negra-critica{
    font-size: 3rem;
    color: #ff0c0c;
}
.img-contacto{
    display: flexbox;
}
.conteiner-contacto{
   background-color: #293b2dd3;
   width: 50%;
   height: auto;
   margin: auto;
   border-radius: 21px 60px 100px 11px;
}
.conteiner-contacto2{
    background-color: #293b2dd3;
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 21px 60px 100px 11px;

}

.animacion{
    list-style: none;
    display: flex;
    justify-content: center;
}
.animacion li{
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #858585;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 40px 50 rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    }
.animacion li:first-child{
    border-radius:  5px 0 0 5px;
}
.animacion li:last-child{
    border-radius: 0 5px 5px 0;
}
.animacion:hover li:nth-child(odd) {
    transform: skewY(15deg)
}
.animacion:hover li:nth-child(even) {
    transform: skewY(-15deg);
}
.drum{
    outline: none;
    border: 10px solid #404869;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: #da0463;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
    }
.s{
    background-image: url("imagenes/hithat.png");
}
.n{
    background-image: url("imagenes/tacho.png");
}
.d{
    background-image: url("imagenes/plato.png");
}
.r{
    background-image: url("imagenes/tom1.png");
}
.u{
    background-image: url("imagenes/tom2.png");
}
.m{
    background-image: url("imagenes/bombo.png");
}
.ss{
    background-image: url("imagenes/chancha.png");
}
.encabezado{ 
    display: flex;
    justify-content: center;
   align-items: stretch;
    margin: 0;
    gap:50px;


}
 .navegador li{
    font-size: 30px;
    font-style: italic;
    font: arial;
}
.navegador{
    display: flex;
    list-style: none;
    gap: 15px;

}
.navegador li a{
    text-decoration: none;
    color: rgb(30, 26, 26);
    font-size: 18px;
    position: relative;
    transition: 0.8s all linear;
    padding: 5px 10px;

}
.navegador li a:hover{
    color: #292929;

}
.navegador li a::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #ff0;
    z-index: 4;
}
.navegador li a:hover::before{
    animation: ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
}
@keyframes ani {
    0%{
        width: 0%;
        height: 1px;
        left: 50%;
    }
    50%{
        width: 100%;
        height: 1px;
        left: 50%; 
    }
    100%{
        width: 100%;
        height: 100%;
        left: 0;
    }
}
.title-subctitos{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px #daf83162;
}
.formulario-subcritos{ 
    position: relative;
    width  : 80%;
    height : 50%;
    margin : 0 auto;
    padding: 2em;
    box-sizing: border-box;
    background : rgba(77, 44, 44, 0.529);
    border-radius: 50px 10px 50px 80px;
}
.box-listado{
    width: 90%;
    height: 70%;
    margin: 40px;
}
.box-listado h2{
    color: #fff;
    background: #03a9fa;
    padding: 10px 20px;
    font-size: 70px;
    font-weight: 700;
  border-radius: 20px 10px 60px 11px;
    font-family: 'Sacramento', 'Arial Narrow', Arial, sans-serif;
}
.box-listado ul{
    position: relative;
    background-color: rgba(44, 72, 127, 0.559);
    border-radius: 20px;
}

.box-listado ul li{
    list-style: none;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px rgba(0,0,0.1);
    transition: 0.5s;
}
.box-listado ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #79ff25;
    box-shadow: 0 5px rgba(0,0,0.2);
    color: rgb(16, 14, 14);
}
.box-listado ul li span{
    text-align: center;
    line-height: 20px;
    background: #d7a9ff;
    color: rgb(237, 5, 5);
    display:  inline-block;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: rotateY(-2px);
}
.box-listado ul li:hover span{
    background: rgb(255, 255, 255);
    color: #f47311;
}
.datos-personales{
    background-color: #2de85267; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
}
.datodeform1{
font-size: 3rem;
color: #0b0b0b;
}
.datos-cuenta{
    background-color: #478da76c; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
} 
.datodeform2{
    font-size: 3rem;
    color: #0b0b0b;
}
.datos-comentarios{
    background-color: #65105575; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
}
.datosdeform3{
    font-size: 3rem;
    color: #0b0b0b;
}
.datos-adiccionales{
    background-color: #8db19c6e; 
    color: #c0f405;
    font-size: 2rem;
    border-radius: 20px;
}
.datosdeform4{
    font-size: 3rem;
    color: #0b0b0b; 
}
input{
    background-color: #cfd6ffce;
    padding: 3px;
    border-radius: 3px;
    color: #150c93;
    width: 400px;
    height: 20px;
}
select{
    background-color: #cfd6ffce;
    padding: 3px;
    border-radius: 3px;
    color: #fa0101;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}
.form-coda{
    font-size: 2rem;
    color: #eee2e2;
    font-style: italic;
    }
.btn-s{
    background-color: #478da700; 
    color: #c0f405;
    font-size: 22px;
    border-radius: 20px;
    height: 300px
}
.btn-ok{
    width: 200px;
    height: 100px;
    border: 0;
    border-radius: 29px;
    font-size: 2rem;
    background: red;
    color: white;
}
.btn-cancel{
    width: 200px;
    height: 100px;
    border: 0;
    border-radius: 29px;
    font-size: 2rem;
    background: rgb(71, 230, 22);
    color: white;
}
.btn-ritmos{
    padding: 16px;
    border: 0;
    border-radius: 26px;
    background: #0ae140;
    color: #150c93;
}
.The-Scientist-1{
    width: 700px;
}
.the-pretender-1{
    width: 700px;
}
.the-pretender-2{
    width: 700px;
}
.the-pretender-3{
    width: 700px;
}
.basket-case-1{
   width: 700px;
}
.basket-case-2{
    width: 700px;
}
.i-still-love-you-1{
    width: 700px;
}
.i-still-love-you-2{
    width: 700px;
}
.contenedor-ritmos img{
width: 700px;
}
.h2-audio{
    font-size: 3rem;
    color: rgba(239, 142, 217, 0.766);
    text-shadow: 3px 0 #f8e0bfc7;
    font: sans-serif;

}
.orden-list{
    list-style: none;
    color: #404869;
}
.palos{
    width: 100%;

}

.set{
    margin: 10% auto;
}
.pressed{
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.6;
}
.red{
    color: red;
}
.palosvic{
    width: 98%;
   
}
header{
    background-color: white;
    clear: both; 
}
.noti1{
font-size: 45px;
color: #0b0b0b;
text-shadow: 3px 0 #dbedf3;
}
.paraf1{
    font-size: 20px;
    color: #fff;
    float: left;
    
}
.eleni{
    width: 500px;
    display: flex;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}

.noti2{
    font-size: 45px;
    color: #0b0b0b;
    text-shadow: 3px 0 #dbedf3;
}
.paraf2{
    font-size: 20px;
    color: #fff;
    float: left;
}
.ralph{
    width: 500px;
    display: flex;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}
.noti3{
    font-size: 45px;
    color: #0b0b0b;
    text-shadow: 3px 0 #dbedf3;

}
.paraf3{
    font-size: 20px;
    color: #fff;
    float: left;
}
.dom{
    width: 500px;
    display: flex;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
}
.piedepagina{
    background-color: #292929;
    height: 50%;
    width: 100%;
    display: inline-block;
    color: #0ae140;
    display: grid;
grid-template-columns: 1fr 2fr;
text-align: left;
margin: 0;
padding: 15px;
}

.caja-pie a {
text-decoration: none;
color: rgb(249, 126, 2);
font-size: 1rem;
justify-items: left;
margin: 0;
font-size: 2rem;

}
.contacto{
    background-color: #05050567;
    padding: 20px;
    border-radius: 10px 30px 50px 80px;
}
.contacto .conteiner-contacto, .conteiner-contacto2 {
    text-align: left;
    
}

table th{
    color: #1a173b;
}
table{
    color: #f20000;
    
}
table img{
    width: 100px;
    height: 100px;
    background-color: #0ae140; 
}
.h1-tabla{
    font-size: 5rem;
    font-family: 'Sacramento', Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px #a2ae00;
  }
  table ul{
   text-align: left;
   

  }
/*.contenedor-ritmos{
    left: 5%;
    width: 400px;
    height: 200px;
    background: -o-linear-gradient(to right
                                   #40e0d0
                                   #ff8c00  
                                   #ff0080);
 
 position: absolute;  
 border-radius: 10px;      

}/*

